<!-- SECTION 4: Contact-->
<!-- <section id="contact" class= "contact-section">
    <h2>Contact</h2>

    <div class="group">
      
        <form action="https://formspree.io/f/{site.formspree-key}" method="POST">
            <label for="name">Name</label>
            <input type="text" id="name">

            <label for="email">Email</label>
            <input type="email" id="email" name="email">

            <label for="message">Message</label>
            <textarea id="message" cols = "30" rows="10" name="message"></textarea>

            <button type="submit">Send Message</button>
        </form>
    </div>
  </section> -->

<!-- modify this form HTML as you wish and place wherever you want your form -->
  <section id="contact" class="contact-section">
      <h2>Contact</h2>
      
         <form
  action="https://formcarry.com/s/Bbzh3gHY_B4"
  method="POST"
  enctype="multipart/form-data"
>
  <label>
    Your email:
    <!-- name each of your inputs as you wish -->
    <input type="email" name="email">
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>
  <!-- your other form fields go here -->
  <button type="submit">Send</button>
    </form>
  </section>
